fastapi==0.122.0
langchain_community==0.4.1
langchain_core==1.1.0
pydantic==2.12.4
uvicorn==0.38.0
dashscope
pydantic-settings
aiohttp
crawl4ai
beautifulsoup4
requests
pymilvus==2.3.0
unstructured
langchain_text_splitters