@import '../../styles/variable';
$width: 300px;

.container {
  border-radius: 0;
  bottom: 0;
  box-sizing: border-box;
  color: var(--color-text-1);
  flex-shrink: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: right 0.2s linear; // Only transition right property
  user-select: none;
  width: $width;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--color-border-2);

  .resizeHandle {
    position: absolute;
    left: -5px;
    top: 0;
    bottom: 0;
    width: 10px;
    cursor: col-resize;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover::after, &.resizing::after {
      content: '';
      width: 2px;
      height: 100%;
      background-color: var(--color-primary-light-4);
    }
  }

  .scroll {
    @include frame-border;
    @include no-scrollbar;

    height: 100%;
    overflow-y: auto;
    padding: 10px 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .op {
    @include flex-center;

    background-color: var(--color-bg-2);
    border: 1px solid var(--color-border-2);
    border-radius: 50%;
    color: var(--color-text-2);
    cursor: pointer;
    font-size: 14px;
    height: 26px;
    overflow: visible;
    position: absolute;
    left: -13px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: all 0.1s linear;
    width: 26px;
    z-index: 2;
  }

  &.collapse {
    width: 0 !important; // Override inline style
    border: none;
    
    .resizeHandle {
      display: none;
    }

    .scroll {
      display: none;
    }

    .op {
      transform: translateY(-50%) rotate(0deg);
      left: -36px;
    }
  }

  .rect {
    $margin: 15px;
    $offset: 196px;

    display: flex;
    position: relative;

    .pos {
      color: var(--color-text-2);
      font-size: 12px;
      position: absolute;
    }

    .lt {
      right: $offset;
      top: $margin;
    }

    .rt {
      left: $offset;
      top: $margin;
    }

    .lb {
      bottom: $margin;
      right: $offset;
    }

    .rb {
      bottom: $margin;
      left: $offset;
    }

    .content {
      border: 1px solid var(--color-border-4);
      height: 70px;
      margin: $margin 80px;
      width: 100%;
    }
  }
}
